img {
    margin-bottom: 8px;
    cursor: pointer;
}
button {
    outline: none;
}
.search-input{
    input{
        height: 40px;
        border: 1px solid #000;
        border-radius: 27px;
        padding: 0 10px;
    }
}