<div class="list-member">
    <table class="table-mozular">
        <thead>
            <tr>
                <td>ID khách</td>
                <td>Khách hàng</td>
                <td>Số dư</td>
                <td>Cần thanh toán</td>
                <td>Phương thức</td>
                <td>Ngày tạo</td>
                <td>Ngày TT tiếp</td>
                <td>Trạng thái</td>
                <td>Hoạt động</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td class="member-deactive">Chưa thanh toán</td>
                <td><img src="{{globals.urlFolder}}png/More1.png" alt=""></td>
            </tr>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td>Đã thanh toán</td>
                <td>
                    <img src="{{globals.urlFolder}}png/More1.png" alt="">
                    <!-- <ul class="list-edit">
                        <li><img src="{{globals.urlFolder}}png/Edit.png" alt="">Sửa thông tin</li>
                        <li><img src="{{globals.urlFolder}}png/Update.png" alt="">Cập nhật</li>
                        <li><img src="{{globals.urlFolder}}png/Delete1.png" alt="">Xóa</li>
                    </ul> -->
                </td>
            </tr>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td>Đã thanh toán</td>
                <td><img src="{{globals.urlFolder}}png/More1.png" alt=""></td>
            </tr>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td>Đã thanh toán</td>
                <td><img src="{{globals.urlFolder}}png/More1.png" alt=""></td>
            </tr>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td>Đã thanh toán</td>
                <td><img src="{{globals.urlFolder}}png/More1.png" alt=""></td>
            </tr>
            <tr>
                <td>4523658</td>
                <td>Trần Quang Anh</td>
                <td>15.000.000 Đ</td>
                <td>2.000.000 Đ</td>
                <td>Thẻ tín dụng</td>
                <td>20/10/2021</td>
                <td>20/10/2021</td>
                <td class="member-deactive">Chưa thanh toán</td>
                <td><img src="{{globals.urlFolder}}png/More1.png" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>