<section class="register confirmation password" *ngIf="success === false">
    <header class="header">
        <span (click)="back()">
            <img src="{{globals.urlFolder}}svg/arrow-left.svg" alt="">
            <h6 *ngIf="vertify === false && new_pass === false">{{ "FORGOT_PASSWORD_001" | translate }}</h6>
            <h6 *ngIf="vertify === true">{{ "FORGOT_PASSWORD_002" | translate }}</h6>
            <h6 *ngIf="new_pass === true">{{ "FORGOT_PASSWORD_003" | translate }}</h6>
        </span>
        <!-- <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.57 5.93018L3.5 12.0002L9.57 18.0702" stroke="white" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M33 12H4" stroke="white" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>                
        <h6>Nhập mã xác thực</h6> -->
    </header>

    <div class="main-password" *ngIf="vertify === false && new_pass === false">
        <div class="password-info">
            <img src="{{globals.urlFolder}}png/forgot-password1.png" alt="">  
        </div>

        <div class="password-form">
            <p class="form-text">
                {{ "FORGOT_PASSWORD_004" | translate }}            </p>

            <div class="form-main" [formGroup]="registerForm">
                <label>{{ "FORGOT_PASSWORD_005" | translate }}</label>
                <input [ngClass]="{'isValid': submitted && registerForm.controls.emailValid.errors}"
                    type="text" [placeholder]="'FORGOT_PASSWORD_008' | translate" 
                    formControlName="emailValid"
                >
                <div *ngIf="submitted && registerForm.controls.emailValid.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls.emailValid.errors.required">{{ "FORGOT_PASSWORD_006" | translate }}</div>
                    <div *ngIf="registerForm.controls.emailValid.errors.email">{{ "FORGOT_PASSWORD_007" | translate }}</div>
                </div>
            </div>

            <div class="form-btn">
                <button class="btn" (click)="onForgot()">TIẾP THEO</button>
            </div>
        </div>
    </div>
    <app-confirmation *ngIf="vertify === true" [email]="email" (codeCallBack)="codeCallBack($event)"></app-confirmation>
    <app-new-password *ngIf="new_pass === true" (passCallBack)="confirm($event)"></app-new-password>
</section>
<app-success-forgot *ngIf="success === true"></app-success-forgot>