.list-components {
    padding: 40px 20px;
    position: relative;
    width: 100%;
    .row-layout {
        height: 47vh !important;
    }
    .list-medication {
        height: 65vh !important;
    }
    .row {
        // overflow: auto;
        .col-3 {
            .list-item {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 20px;
                background-color: #c8c8c8;
                box-shadow: 6px 6px 20px -9px #707070;
                margin-bottom: 30px;
                cursor: pointer;
                .item-info {
                    margin-left: 20px;
                    .text-bold {
                        font-size: 21px;
                        font-weight: 500;
                    }
                    .text-regular {
                        font-size: 17px;
                        margin-top: 15px;
                        color: #707070;
                    }
                    .text-semi {
                        font-size: 18px;
                        font-weight: 600;
                        color: #707070;
                    }
                }
            }
        }
    }
    .create-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
.a {
    overflow: auto;
    height: 63vh !important;
}
p {
    word-wrap: break-word;
    width: 100px;
}

.item-avatar{
    width: 134px;
    height: 160px;
    border-radius: 15px;
}
/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  // border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
