.ci-input-login {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: inset 5px 5px 10px #cccccc, inset -5px -5px 10px #ffffff;
    outline: none !important;
}