@import "./variables.scss";

.password {
    font-family: 'Montserrat-Medium';
    max-height: 100vh;
    overflow: hidden;

    .header {
        margin-bottom: 0px;
    }

    .main-password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        max-width: 460px;
        margin: 0 auto;

        .password-info {
            // margin-bottom: 4.03125rem;
            text-align: center;

            img {
                height: 200px;
                width: 200px;
            }

            svg {
                width: 200px;
                height: 200px;
            }
        }

        .password-form {

            .form-text {
                font-size: 1rem;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.005rem;
                color: $text-color-0;
                text-align: center;
                margin: 2rem 0;
            }

            .form-main {
                margin-bottom: 3rem;
                position: relative;

                label {
                    font-size: 0.875rem;
                    font-family: 'Montserrat-Medium';
                    line-height: 18px;
                    letter-spacing: -0.01rem;
                    color: $text-color-5;
                }

                input[type="text"],
                input[type="password"],
                input[type="email"] {
                    display: block;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 0.75rem 0;
                    border: none;
                    outline: none;
                    background: inherit;
                    color: $text-color-5;
                    border-bottom: 1px solid $border-color-4;
                }

                input:nth-child(2) {
                    margin-bottom: 1rem;
                }

                input[type="email"]:focus {
                    color: $text-color-0;
                }
            }

            .form-btn {
                text-align: center;
                // padding-bottom: 13.375rem;

                .btn {
                    height: 3rem;
                    font-size: 0.875rem;
                    font-weight: 600;
                    line-height: 17.07px;
                    letter-spacing: 0.0125rem;
                    padding: 0.96875rem 4.53125rem;
                    background: $bg-color-7;
                    color: $text-color-0;
                    border-radius: 24px;

                    &:hover {
                        background: $text-color-1;
                        color: $text-color-9;
                        // box-shadow: 0 0 0 1px $border-color-7 inset;
                    }
                }

                .btn:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .password {
    
        .main-password {
    
            .password-form {

                .form-main {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .password {
    
        .main-password {
    
            .password-form {

                .form-main {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

// @media screen and (min-width: 1920px) {
//     .password {
        
//         .main-password {
//             padding: 0 45.4375rem;
//         }
//     }
// }