:root {
    --color-bg-white: #fffff;
    --color-text-header: #222222;
    --color-warning: #FFBE41;
    --color-list-nav: #7A7A7A;
    --color-active: #EE0033;
    --color-section: #F4F9FF;
    --color-text-title: #171717;
    --color-text-label: #707070;
}