//Text black
$text-color-0: #1A1A1A;
$text-color-1: #1F1F1F;
$text-color-2: #2E2E2E;
$text-color-3: #363636;
$text-color-4: #616161;
$text-color-5: #9F9F9F; 

//Text white
// $text-color-white: #FFFFFF;
$text-color-6: #2E2E2E;

//Text main and yellow
$text-color-7: #E1C579;
$text-color-8: #DAB758;

//Text white
$text-color-9: #FFFFFF;
$text-color-10: #F7F7F7;
$text-color-11: #EDEDED;
$text-color-12: #E3E3E3;
$text-color-13: #C1C1C1;

//border color
$border-color-9: #fff;
$border-color-5: #9F9F9F;
$border-color-4: #616161;
$border-color-7: #E1C579;
$border-color-8: #DAB758;

//background color
$bg-color-0: #F7F7F7;
$bg-color-1: #1A1A1A;
$bg-color-2: #FFFFFF;
$bg-color-4: #616161;
$bg-color-7: #E1C579;
$bg-color-8: #DAB758;

$text-color-1: #2E2E2E;


@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(./../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(./../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Nunito-Regular;
    src: url(./../fonts/Nunito-Regular.ttf);
}
$sidebar-bg: #fff;
$main-bg: #F7F7F7;
$btn-bg: #DAB758;
$btn-bg-2: #E1C579;
$btn-bg-3: #1A1A1A;
$input-bg: #EDEDED;
$main-color: #1A1A1A;
$main-color-opacity: #363636;
$active-color: #21AB36;
$deactive-color: #FF3E33;
$white: #ffffff;
$black: #000000;
$input-color: #9F9F9F;
$input-color-1: #1A1A1A;
$btn-color: #2E2E2E;
$table-color: #616161;
$table-order-color: #2E2E2E;
$border-header: #E3E3E3;
$border-btn: #C1C1C1;
$border-black-1: #1A1A1A;
$none-bg: none;
$avatar-bg: #EDEDED;
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.hidden{
    display: none;
}
.member-deactive{
    color: $deactive-color !important;
}
.member-active{
    color: $active-color !important;
}
$text-color-1: #1A1A1A;
$border-black-1: #C1C1C1;