.invalid-feedback {
    display: block;
    margin-top: 0;
}

// .delete-btn-1 {
//     position: absolute;
//     right: 0;
//     bottom: 35%;
//     display: none;

//     img {
//         width: 1.5rem;
//         height: 1.25rem;
//         margin-bottom: 0.75rem;
//     }
// }

.show-hide,
.show-hide-1 {
    position: absolute;
    right: 0;
    top: 55%;
    background: none;
    border: none;
    outline: none;
}

// .show-hide {
//     top: 55%;
// }

// .show-hide-1 {
//     top: 55%;
// }

.main-input {
    max-height: 76.54px;
}