<mat-dialog-content>
    <div class="modal-user-password">
        <div class="box-create-order popup-update-status">
            <div class="title">
                <h2>{{  "MODAL_PASSWORD_001" | translate }}</h2>
                <img src="{{globals.urlFolder}}png/Close.png" (click)="onChangePassword();">
            </div>
    
            <form [formGroup]="passwordForm">
                <!-- <label for="">Mật khẩu hiện tại</label>
                <input type="password" name="" id="" > -->
                <label for="">{{  "MODAL_PASSWORD_002" | translate }}</label>
                <input type="text" name="" id="" formControlName="password">
    
                <div class="btn">
                    <button type="submit" (click)="onSubmit();">{{  "MODAL_PASSWORD_003" | translate }}</button>
                </div>
            </form>
        </div>
    </div>
    
</mat-dialog-content>