.time-tracker {
    margin-top: 44px;
    margin-bottom: 16px;
    span {
        margin-left: 16px;
        font-size: 14px;
        font-weight: 600;
    }
}
img {
  height: 48px;
  width: 48px;
  border-radius: 16px;
}
// .moz-check {
//     margin-top: 44px;
//     margin-bottom: 16px;
//     span {
//         margin-left: 16px;
//         font-size: 14px;
//         font-weight: 600;
//     }
// }
